<!--The content below is only a placeholder and can be replaced.-->
<form [formGroup]="cartForm">
    <div formArrayName="products">
          <div *ngFor="let product of cartForm.get('products').controls; let i=index">
              <div [formGroupName]="i">
                  <div>
                    Product Name: {{ cart.products[i].name }}
                  </div>
                  <input formControlName="quantity" placeholder="Item name">
              </div>
          </div>
    </div>
</form>

<h1>Total: {{ total }}</h1>
